<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>식당 이름</th>
                <th>주소</th>
                <th>좌표</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="restaurant : ${restaurants}">
                <td th:text="${restaurant.id}"></td>
                <td>
                    <a th:href="@{|/restaurants/${restaurant.id}/detail|}"
                       th:text="${restaurant.name}"></a>
                </td>
                <td>
                    <a th:href="@{|https://map.naver.com/?query=${restaurant.address}|}"
                       th:text="${restaurant.address}" target="_blank"></a>
                </td>
                <td th:text="|${restaurant.latitude}, ${restaurant.longitude}|">
                    <a th:href="@{|http://map.naver.com/index.nhn?lng=${restaurant.longitude}&lat=${restaurant.latitude}|}"
                       th:text="|${restaurant.latitude}, ${restaurant.longitude}|" target="_blank"></a>
                </td>
                <!--                <td>-->
                <!--                    <a href="#" th:href="@{|/items/${item.id}/edit|}"-->
                <!--                       class="btn btn-primary" role="button">수정1</a>-->
                <!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>