<!--부트스트랩은 제이쿼리에 의존하므로 제이쿼리 먼저 선언-->
<script src="https://code.jquerry.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>