<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>유튜버 이름</th>
                <th>채널주소</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="youtuber : ${youtubers}">
                <td th:text="${youtuber.id}"></td>
                <td th:text="${youtuber.name}"></td>
                <td>
                    <a th:href="@{|https://www.youtube.com/channel/${youtuber.channelId}|}"
                       th:text="|https://www.youtube.com/channel/${youtuber.channelId}|"></a>
                </td>
                <!--                <td>-->
                <!--                    <a href="#" th:href="@{|/items/${item.id}/edit|}"-->
                <!--                       class="btn btn-primary" role="button">수정1</a>-->
                <!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>