<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron" align="center">
        <h3>Welcome</h3>
        <h1>MapZip Api Server</h1>
        <div>
            <p class="lead">REST API Reference</p>
            <p>
                <a class="btn btn-lg btn-secondary" href="/swagger-ui/index.html">REST API</a>
            </p>
            <p class="lead">식당 기능</p>
            <p>
                <a class="btn btn-lg btn-secondary" href="/restaurants/new">식당 추가</a>
                <a class="btn btn-lg btn-secondary" href="/restaurants">식당 목록</a>
            </p>
            <p class="lead">유튜버 기능</p>
            <p>
                <a class="btn btn-lg btn-dark" href="/youtubers/new">유튜버 등록</a>
                <a class="btn btn-lg btn-dark" href="/youtubers">유튜버 목록</a>
            </p>
            <p class="lead">카테고리 기능</p>
            <p>
                <a class="btn btn-lg btn-info" href="/categories/new">카테고리 등록</a>
                <a class="btn btn-lg btn-info" href="/categories">카테고리 목록</a>
            </p>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>